<style>
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }}

@media screen and (min-width: 768px) {
  [item-style=Wide] {
    grid-column-start: span 2;
    grid-column-end: span 2;
    grid-row-start: span 2;
    grid-row-end: span 2;
  }

  [item-style=Tall] {
   grid-column-start: span 1;
   grid-column-end: span 1;
   grid-row-start: span 3;
   grid-row-end: span 3;
  }
  
   [item-style=Normal] {
   grid-column-start: span 1;
   grid-column-end: span 1;
   grid-row-start: span 2;
   grid-row-end: span 2;
  }
  
  [item-style=Small] {
   grid-column-start: span 1;
   grid-column-end: span 1;
   grid-row-start: span 1;
   grid-row-end: span 1;
  }
}

@media screen and (max-width: 991px) { 
    #nav-component {
        display: none;
        height:100vh;
        transform: translateX(100%); /* Off-screen initially */
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        opacity: 0;
        }

    #nav-component.open {
        display: flex;
        height:100vh;
        transform: translateX(0);
        opacity: 1;
    }

    #nav-component.close {
        transform: translateX(100%);
      	height:100vh;	
        opacity: 0;
    }
}

/* Initially hide #more-features */
#more-features {
    display: none;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

/* When shown, smoothly fade in */
#more-features.show {
    opacity: 1;
    transform: translateY(0);
}

/* Hide button with fade-out effect */
#load-more-btn.hide {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.5s ease-in, transform 0.3s ease-in;
}

</style>
